*{
    font-family: 'Nunito Sans';
}

body{
    background-color:#fafcff
}

nav{
    height: 140px;
    background-color: #fff;
    border-radius: 0px 0px 20px 20px;
}
.navbar a{
    font-weight: bold;
    font-size: 29px;
    color: #6379F4 !important;
    border-radius: 20px !important;
}

.profile .profile-name{
    font-weight: bold;
    font-size: 18px;
}
.profile .phone-number{
    font-weight: normal;
    font-size: 13px;
}
.content{
    margin-top: 40px;
}


.content .col-3{
    border-radius: 25px;
}

.content .sidebar .dashboard{
    text-decoration: none;
    font-size: 18px !important;
    margin-top: 47px !important;
    color: #3A3D42;
}

.content .sidebar .transfer div{
    border-left: 5px solid #6379F4;
    height: 35px;
    position: absolute;
    left: 0;
}

.content .sidebar .transfer{
    font-weight: bold;
    margin-top: 64px !important;
    text-decoration: none;
    color: #6379F4;
    font-size: 18px;

}
.content .sidebar .top-up{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;

}
.content .sidebar .profile{
    margin-top: 64px !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;

}
.content .sidebar .logout{
    margin-top: 254% !important;
    text-decoration: none;
    color: #3A3D42;
    font-size: 18px;
}

.body-area{
    background: #fff;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}
.body-area h1{
    font-weight: bold;
    font-size: 18px;
    color: #3A3D42;
    margin-bottom: 25px;
}


.body-area .search {
    position: relative;
    margin-bottom: 50px;
}

.body-area .search input{
    border: 1.5px solid rgba(169, 169, 169, 0.6);
    padding: 11px 0px 11px 54px;
    /* margin-bottom: 73px; */
    width: 100%;
    font-weight: normal;
    font-size: 16px;
    color: rgba(58, 61, 66, 0.4);
    border-radius: 12px;
    background: rgba(58, 61, 66, 0.1);
    border: none;
    height: 54px;
}
.body-area .icon-search{
    position: absolute;
    top: 14px;
    left: 18px;
}

.card-profile{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:20px 0px 15px 20px;
    margin-bottom: 40px;
}

.card-details{
    /* height: 110px; */
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding:15px 0px 15px 15px;
    margin-bottom: 20px;
}

.body-area .receiver h4{
    font-weight: bold;
    font-size: 18px;
    color: #4D4B57;
    margin-top: 8px !important;
    
}
.body-area .receiver p{
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
} 
.body-area .card-details h4{
    font-weight: bold;
    font-size: 22px;
    color: #4D4B57;
    
}
.body-area .card-details p{
    font-weight: normal;
    font-size: 16px;
    color: #7A7886;
} 

.back{
    height: 57px;
    width: 197px;
    background: #6379F4;
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #fff;
    /* margin-top: 35px; */
}

.btn-download{
    height: 57px;
    width: 197px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    font-weight: bold;
    font-size: 18px;
    color: #6379F4;
    border-radius: 12px;

}
.btn-share{
    height: 57px;
    width: 57px;
    background: rgba(99, 121, 244, 0.15);
    box-shadow: 0px 6px 75px rgba(100, 87, 87, 0.05);
    font-weight: bold;
    font-size: 18px;
    color: #6379F4;
    border-radius: 12px;
}
.btn-download img{
    margin-top: -4px;
}

.modal{
    margin-top: 8%;
}
.modal .modal-content{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 25px;
    padding: 35px;
}

.modal .modal-header h5{
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #3A3D42;
    margin-bottom: 20px;
}
.modal .modal-body p{
    font-weight: bold;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: rgba(58, 61, 66, 0.6);
    max-width: 302px;
}
.modal .modal-body .pin input{
    background: #FFFFFF;
    border: 1px solid rgba(169, 169, 169, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 10px 75px rgba(147, 147, 147, 0.1);
    border-radius: 10px;
    width: 53px;
    height: 65px;
    text-align: center;
    margin: 40px 14px 20px 0px;

    font-weight: bold;
    font-size: 30px;
    color: #3A3D42;
}



.status img{
margin-top: 40px;
}
.status h2{
    font-weight: bold;
    font-size: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
    color: #4D4B57;
}


.show{
    outline: hidden;
    border: hidden;
}



footer{
    padding-top: 24px;
    padding-bottom:24px;
    background: #6379F4;
    margin-top:35px
}
footer .license{
    font-weight: normal;
    color:#EFEFEF;
    font-size: 16px;
    margin-left: -10px;
}
footer .contact a{
    font-weight: 600;
    font-size: 16px;
    color:#EFEFEF;
}



.modal .modal-body .pin .input-line{
    position: absolute;
    top: 92px;
    left: 26px;
}


 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .btn{
        width: 100%;

    }


    .body-area .credit{
        font-weight: bold;

        font-size: 35px;
        color: #fff;
    }
    .body-area .number{
        margin-top: 20px;
        font-weight: normal;
        font-size: 15px;
        color: #E0E0E0;
    }

    .content .sidebar .logout{
        margin-top: 64px !important;
        text-decoration: none;
        color: #3A3D42;
    
    }
    .body-area .receiver h4{
        font-weight: bold;
        font-size: 16px;
        color: #4D4B57;
    }
    .body-area .receiver p{
        font-weight: normal;
        font-size: 14px;
        color: #7A7886;
    }



    .modal .modal-body .pin input{
        width: 46px;
        height: 60px;
    }
    .modal .modal-body .pin .input-line{
        position: absolute;
        top: 90px;
        left: 22px;
    }

    .sidebar_menu{
        display: none;
    }
    .navbar{
        display: none;
    }
    footer{
        display: none;
        
    }
    .btn-download{
        display: none;
    }
    .btn-share{
        display: none;
    }
    .body-area{
        background: #fafcff !important;
        border-radius: 0px !important;
        padding: 0px !important;
        box-shadow: 0px 0px 0px !important;
    }
}
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .content .sidebar .logout{
        margin-top: 64px !important;
        text-decoration: none;
        color: #3A3D42;
    
    }
    .payment-history .money-minus{
        transform: translateX(0px);
    }
    .btn{
        width: 100%;

    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .receiver{
        transform: translateX(-40px);
    }
    .btn{
        width: 100%;

    }
 }

 /* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .receiver{
        transform: translateX(-20px);
    }

 }

 @media (min-width: 1200px) { 
    .receiver{
        transform: translateX(-40px);
    }
    
}
